In [43]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [44]:
# Read in cannabis data set
cannabis_data_path = os.path.join('Resources', 'cannabis_usage_1961_2018.csv')
cannabis_data = pd.read_csv(cannabis_data_path)

# Clean dataset variable names
cannabis_data.columns = cannabis_data.columns.str.strip().str.lower().str.replace(' ', '_')
cannabis_data.head()

,ref_date,geo,dguid,prevalence,age_group,frequency_of_use,uom,uom_id,scalar_factor,scalar_id,vector,coordinate,value,status,symbol,terminated,decimals
0,1961,Canada,2016A000011124,Consuming population of cannabis,15 years and over,"Total, all frequencies",Persons,249,units,0,v1001799865,1.1.1.1,277512.0,NaN,NaN,NaN,0
1,1961,Canada,2016A000011124,Consuming population of cannabis,15 years and over,Once,Persons,249,units,0,v1001799866,1.1.1.2,17616.0,NaN,NaN,NaN,0
2,1961,Canada,2016A000011124,Consuming population of cannabis,15 years and over,Less than once per month,Persons,249,units,0,v1001799867,1.1.1.3,97880.0,NaN,NaN,NaN,0
3,1961,Canada,2016A000011124,Consuming population of cannabis,15 years and over,One to three times per month,Persons,249,units,0,v1001799868,1.1.1.4,51722.0,NaN,NaN,NaN,0
4,1961,Canada,2016A000011124,Consuming population of cannabis,15 years and over,At least once a week (excludes daily),Persons,249,units,0,v1001799869,1.1.1.5,70428.0,NaN,NaN,NaN,0

In [45]:
# Drop erroneous variables in cannabis dataset
cannabis_data = cannabis_data.drop(['geo', 'dguid', 'uom', 'uom_id', 'scalar_factor', 'scalar_id', 'vector', 'status', 'symbol', 'terminated', 'decimals'], axis=1)
cannabis_data.head()

,ref_date,prevalence,age_group,frequency_of_use,coordinate,value
0,1961,Consuming population of cannabis,15 years and over,"Total, all frequencies",1.1.1.1,277512.0
1,1961,Consuming population of cannabis,15 years and over,Once,1.1.1.2,17616.0
2,1961,Consuming population of cannabis,15 years and over,Less than once per month,1.1.1.3,97880.0
3,1961,Consuming population of cannabis,15 years and over,One to three times per month,1.1.1.4,51722.0
4,1961,Consuming population of cannabis,15 years and over,At least once a week (excludes daily),1.1.1.5,70428.0

In [51]:
# Read in population data
pop_data_path = os.path.join('Resources', 'demographic_data_canada_1971_2020.csv')
pop_data = pd.read_csv(pop_data_path)

# Clean dataset variable names
pop_data.columns = pop_data.columns.str.strip().str.lower().str.replace(' ', '_')
pop_data

,ref_date,geo,dguid,sex,age_group,uom,uom_id,scalar_factor,scalar_id,vector,coordinate,value,status,symbol,terminated,decimals
0,1971,Canada,2016A000011124,Both sexes,All ages,Persons,249,units,0,v466668,1.1.1,21962032.0,NaN,NaN,NaN,0
1,1972,Canada,2016A000011124,Both sexes,All ages,Persons,249,units,0,v466668,1.1.1,22218463.0,NaN,NaN,NaN,0
2,1973,Canada,2016A000011124,Both sexes,All ages,Persons,249,units,0,v466668,1.1.1,22491777.0,NaN,NaN,NaN,0
3,1974,Canada,2016A000011124,Both sexes,All ages,Persons,249,units,0,v466668,1.1.1,22807969.0,NaN,NaN,NaN,0
4,1975,Canada,2016A000011124,Both sexes,All ages,Persons,249,units,0,v466668,1.1.1,23143275.0,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1085,2016,Canada,2016A000011124,Both sexes,Median age,Years,308,units,0,v466689,1.1.105,40.7,NaN,NaN,NaN,1
1086,2017,Canada,2016A000011124,Both sexes,Median age,Years,308,units,0,v466689,1.1.105,40.8,NaN,NaN,NaN,1
1087,2018,Canada,2016A000011124,Both sexes,Median age,Years,308,units,0,v466689,1.1.105,40.8,NaN,NaN,NaN,1
1088,2019,Canada,2016A000011124,Both sexes,Median age,Years,308,units,0,v466689,1.1.105,40.8,NaN,NaN,NaN,1
1089,2020,Canada,2016A000011124,Both sexes,Median age,Years,308,units,0,v466689,1.1.105,40.9,NaN,NaN,NaN,1

In [52]:
# Drop erroneous variables in cannabis dataset
pop_data = pop_data.drop(['geo', 'dguid', 'sex', 'uom_id', 'scalar_factor', 'scalar_id', 'vector', 'status', 'symbol', 'terminated', 'decimals'], axis=1)
pop_data

      ref_date   age_group      uom coordinate       value
0         1971    All ages  Persons      1.1.1  21962032.0
1         1972    All ages  Persons      1.1.1  22218463.0
2         1973    All ages  Persons      1.1.1  22491777.0
3         1974    All ages  Persons      1.1.1  22807969.0
4         1975    All ages  Persons      1.1.1  23143275.0
...        ...         ...      ...        ...         ...
1085      2016  Median age    Years    1.1.105        40.7
1086      2017  Median age    Years    1.1.105        40.8
1087      2018  Median age    Years    1.1.105        40.8
1088      2019  Median age    Years    1.1.105        40.8
1089      2020  Median age    Years    1.1.105        40.9

[1090 rows x 5 columns]

In [57]:
# Drop erroneous rows in data set
relevant_age_df = pop_data.loc[pop_data.age_group.isin([
 '15 to 19 years',
 '20 to 24 years',
 '25 to 29 years',
 '30 to 34 years',
 '35 to 39 years',
 '40 to 44 years',
 '45 to 49 years',
 '50 to 54 years',
 '55 to 59 years',
 '60 to 64 years',]), :]

relevant_age_df

     ref_date       age_group      uom coordinate      value
200      1971  15 to 19 years  Persons     1.1.25  2164092.0
201      1972  15 to 19 years  Persons     1.1.25  2221277.0
202      1973  15 to 19 years  Persons     1.1.25  2272006.0
203      1974  15 to 19 years  Persons     1.1.25  2314170.0
204      1975  15 to 19 years  Persons     1.1.25  2347857.0
..        ...             ...      ...        ...        ...
695      2016  60 to 64 years  Persons     1.1.79  2313160.0
696      2017  60 to 64 years  Persons     1.1.79  2388059.0
697      2018  60 to 64 years  Persons     1.1.79  2457490.0
698      2019  60 to 64 years  Persons     1.1.79  2513706.0
699      2020  60 to 64 years  Persons     1.1.79  2560241.0

[500 rows x 5 columns]

In [86]:
# Make dictionary to replace bin-values for rebinning
population_groups = {
    '15 to 19 years':'15 to 24 years',
    '20 to 24 years':'15 to 24 years',
    '25 to 29 years':'25 to 44 years',
    '30 to 34 years':'25 to 44 years',
    '35 to 39 years':'25 to 44 years',
    '40 to 44 years':'45 to 65 years',
    '45 to 49 years':'45 to 65 years',
    '50 to 54 years':'45 to 65 years',
    '55 to 59 years':'45 to 65 years',
    '60 to 64 years':'45 to 65 years', 
}

# Replace names in age_groups
rebinned_pop_df = relevant_age_df.replace(population_groups)
rebinned_pop_df.sort_values('ref_date')

# Re-bin values
grouped_binned_pop = rebinned_pop_df.groupby(['ref_date', 'age_group']).value.sum()
grouped_binned_pop = pd.DataFrame(grouped_binned_pop)
grouped_binned_pop = grouped_binned_pop.reset_index()
grouped_binned_pop

     ref_date       age_group       value
0        1971  15 to 24 years   4141006.0
1        1971  25 to 44 years   4272310.0
2        1971  45 to 65 years   5353040.0
3        1972  15 to 24 years   4211044.0
4        1972  25 to 44 years   4422840.0
..        ...             ...         ...
145      2019  25 to 44 years   7812332.0
146      2019  45 to 65 years  12589414.0
147      2020  15 to 24 years   4583667.0
148      2020  25 to 44 years   7937643.0
149      2020  45 to 65 years  12609415.0

[150 rows x 3 columns]

In [103]:
# Remove erroneous rows from cannabis DataFrame
annual_age_consumption = cannabis_data.loc[(data.frequency_of_use == 'Total, all frequencies') & (cannabis_data.prevalence == 'Consuming population of cannabis') & (data.age_group != '15 years and over') & (data.age_group != '65 years and over'),:]
annual_age_consumption = annual_age_consumption.reset_index(drop=True)

# Make dictionary for re-binning
age_groups = {
    '15 to 17 years ':'15 to 24 years',
    '18 to 24 years':'15 to 24 years'
}

# Replace names in age_group
rebinned_cannabis_df = annual_age_consumption.replace(age_groups)

# Re-bin values
grouped_binned_cannabis = rebinned_cannabis_df.groupby(['ref_date','age_group']).value.sum()
grouped_binned_cannabis = pd.DataFrame(grouped_binned_cannabis)
grouped_binned_cannabis = grouped_binned_cannabis.reset_index()

grouped_binned_cannabis

     ref_date       age_group      value
0        1961  15 to 24 years   173646.0
1        1961  25 to 44 years    47466.0
2        1961  45 to 64 years    56399.0
3        1962  15 to 24 years   206500.0
4        1962  25 to 44 years    47486.0
..        ...             ...        ...
169      2017  25 to 44 years  2104791.0
170      2017  45 to 64 years  1138798.0
171      2018  15 to 24 years  1683164.0
172      2018  25 to 44 years  2171770.0
173      2018  45 to 64 years  1180015.0

[174 rows x 3 columns]

In [109]:
# Merge the two data sets
merged_df = grouped_binned_cannabis.merge(grouped_binned_pop, on = ['ref_date', 'age_group'], how = 'inner', suffixes= ['_cannabis', '_pop'])
merged_df

    ref_date       age_group  value_cannabis  value_pop
0       1971  15 to 24 years       1189603.0  4141006.0
1       1971  25 to 44 years         98434.0  4272310.0
2       1972  15 to 24 years       1306569.0  4211044.0
3       1972  25 to 44 years        117521.0  4422840.0
4       1973  15 to 24 years       1403415.0  4304699.0
..       ...             ...             ...        ...
91      2016  25 to 44 years       2013181.0  7364791.0
92      2017  15 to 24 years       1632955.0  4492017.0
93      2017  25 to 44 years       2104791.0  7484670.0
94      2018  15 to 24 years       1683164.0  4542854.0
95      2018  25 to 44 years       2171770.0  7645727.0

[96 rows x 4 columns]

In [113]:
age_15_24_df = merged_df.loc[merged_df.age_group == '15 to 24 years', :]
age_25_44_df = merged_df.loc[merged_df.age_group == '25 to 44 years', :]
age_45_65_df = merged_df.loc[merged_df.age_group == '45 to 64 years', :]