In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
import random
import scipy.stats as sts

In [8]:
gdp = pd.read_csv('Resources\Canada_GDP_1960-2018.csv')
gdp

population = pd.read_csv('Resources\canada_population.csv')
pop_on = population[['When', 'Canada', 'Ontario']]
pop_on['Year'] = pop_on['When'].str[-4:]

<ipython-input-8-023e68e687ca>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pop_on['Year'] = pop_on['When'].str[-4:]

           When    Canada     Ontario  Year
0    01/01/1946  12188000         NaN  1946
1    04/01/1946  12241000         NaN  1946
2    07/01/1946  12316000         NaN  1946
3    10/01/1946  12393000         NaN  1946
4    01/01/1947  12450000         NaN  1947
..          ...       ...         ...   ...
273  04/01/2014  35416179  13640187.0  2014
274  07/01/2014  35540419  13678740.0  2014
275  10/01/2014  35675834  13730187.0  2014
276  01/01/2015  35702707  13733544.0  2015
277  04/01/2015  35749600  13750073.0  2015

[278 rows x 4 columns]

In [13]:
pop_on_year = pop_on.groupby(['Year'])['Ontario'].max()

In [16]:
pop_on_year = pop_on_year.drop()

<bound method Series.reset_index of Year
1946           NaN
1947           NaN
1948           NaN
1949           NaN
1950           NaN
           ...
2011    13316463.0
2012    13456709.0
2013    13603904.0
2014    13730187.0
2015    13750073.0
Name: Ontario, Length: 70, dtype: float64>